@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #0a0a0a;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 100%;
}

a {
  color: #0a0a0a;
  text-decoration: none;
  font-weight: 400;
}

ul {
  list-style: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  width: calc(100vw - 50px);
}
.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.header .header__menu .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 150px;
}
.header .header__menu .header__link a {
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 1.4px;
}
.header .header__menu .header__list a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.header .header__menu .cart__link {
  min-width: 110px;
}
.header .header__menu .burger {
  display: none;
}

@media (max-width: 768px) {
  .header__link, .header__list {
    display: none;
  }
  .header__menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.banner__1 {
  background-image: url("../img/header/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  color: white;
  height: 504px;
  width: calc(100vw - 50px);
}
.banner__1 .banner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.banner__1 .banner__text > h2 {
  font-size: 43px;
  font-weight: 400;
  line-height: 46px;
}
.banner__1 .banner__text > h3 {
  padding: 12px 0px 28px 0px;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  letter-spacing: 0.8px;
}
.banner__1 .banner__text > p {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  letter-spacing: 1.4px;
}

.banner__2 {
  margin: 80px;
  height: 153px;
}
.banner__2 .banner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.banner__2 .banner__text > h2 {
  font-size: 43px;
  font-weight: 400;
  line-height: 58px;
}
.banner__2 .banner__text > h3 {
  padding: 23px 0px 26px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.8px;
  color: rgb(160, 160, 160);
}
.banner__2 .banner__text > p {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.4px;
}

.banner__3 {
  padding: 0px 20px;
}
.banner__3 .desktop__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner__3 .desktop__items .desktop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner__3 .desktop__items .desktop__item > img {
  max-width: 100%;
  display: block;
}
.banner__3 .desktop__items .item__text h3 {
  font-size: 27px;
  font-weight: 400;
  line-height: 30px;
  padding: 23px 0px;
}
.banner__3 .desktop__items .item__text p {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  letter-spacing: 1.4px;
  padding: 3px 0px;
}

@media (max-width: 1024px) {
  .desktop__items {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
  }
}
@media (min-width: 1024px) {
  .desktop__items {
    gap: 25px;
  }
  .item__text {
    padding-top: 80px;
  }
}
.featured__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 150px;
  height: 230px;
}
.featured__products > h2 {
  font-size: 33px;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 16px;
}
.featured__products > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  letter-spacing: 0.8px;
  color: rgb(160, 160, 160);
}
.featured__products .small__squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin: 40px 0px 16px 0px;
}
.featured__products .small__squares > img {
  display: block;
}

@media (max-width: 1024px) {
  .featured__products {
    margin-top: 40px;
    height: 150px;
  }
}
.products__scroll {
  max-width: 1340px;
  margin: auto;
}
.products__scroll .products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  gap: 25px;
  margin-bottom: 50px;
  color: rgb(160, 160, 160);
  /*.products__list::-webkit-scrollbar{
      display: none;
  }*/
}
.products__scroll .products__list .product__name {
  text-align: left;
  padding-top: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.7px;
}
.products__scroll .products__list .product__price {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.7px;
}
.products__scroll .products__list .products__img {
  width: 310px;
  height: 434px;
  background: rgb(238, 238, 238);
}

@media (max-width: 1440px) {
  .products__scroll {
    max-width: 1005px;
  }
}
@media (max-width: 1005px) {
  .products__scroll {
    max-width: 670px;
  }
}
@media (max-width: 700px) {
  .products__scroll {
    max-width: 335px;
  }
}
.banner__4 {
  background-image: url("../img/home_office_inspiration.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 504px;
  width: calc(100vw - 50px);
  margin: 120px 0px;
}
.banner__4 > h2 {
  font-size: 66px;
  font-weight: 400;
  line-height: 70px;
}
.banner__4 > h3 {
  padding: 14px 0px 30px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.8px;
}
.banner__4 > p {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  letter-spacing: 1.4px;
}

@media (max-width: 1024px) {
  .banner__4 {
    margin: 40px 0px;
    height: 400px;
  }
}
.banner__5 .banner5__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner__5 .banner5__container .banner5__description {
  max-width: 777px;
  margin: auto;
  padding: 23px 15px;
}
.banner__5 .banner5__container > h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 36px;
}
.banner__5 .banner5__container > p {
  color: rgb(160, 160, 160);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.8px;
}
.banner__5 .banner5__container > img {
  padding: 0px 20px;
  display: block;
  width: 100%;
}

.team {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 42px 20px 120px 20px;
  max-width: 100%;
}
.team .team__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .team__intro > h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 36px;
}
.team .team__intro > p {
  margin: 23px 0px 80px 0px;
  max-width: 789px;
  color: rgb(160, 160, 160);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.8px;
}
.team .team__items {
  margin: 0px 20px;
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 25px;
  max-width: 1365px;
}
.team .team__items > img {
  display: block;
  margin: auto;
  max-height: 273px;
  max-width: 204px;
}
.team .team__outro > h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 36px;
  margin: 96px 0px 44px 0px;
  padding: 0px 15px;
}
.team .team__outro > p {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.4px;
}

@media (min-width: 1441px) {
  .team__items {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1440px) {
  .team__items {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
    overflow: auto;
  }
}
@media (max-width: 1024px) {
  .team {
    margin-bottom: 60px;
  }
  .team__items {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    overflow: auto;
  }
}
.banner__6 {
  width: calc(100vw - 50px);
}
.banner__6 .banner6__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 404px;
  color: #ffffff;
  background-color: rgb(154, 168, 177);
}
.banner__6 .banner6__container > h2 {
  font-size: 43px;
  font-weight: 400;
  line-height: 58px;
  margin: 23px 0px 24px 0px;
}
.banner__6 .banner6__container > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.footer {
  margin: 40px 20px 0px 20px;
  background-color: rgb(249, 249, 249);
}
.footer .footer__container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1340px;
}
.footer .footer__container .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer .footer__container .footer__logo .footer__goup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 82px;
  height: 82px;
  background: black;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.8px;
}
.footer .footer__container .footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 265px;
}
.footer .footer__container .footer__main .footer__menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
}
.footer .footer__container .footer__main .footer__menu .footer__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
}
.footer .footer__container .footer__main .footer__signup {
  max-width: 500px;
  padding-left: 12.5px;
}
.footer .footer__container .footer__main .footer__signup > h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer .footer__container .footer__main .footer__signup > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.8px;
  text-align: left;
  color: rgb(160, 160, 160);
}
.footer .footer__container .footer__main .footer__signup .signup__description {
  max-width: 350px;
  margin: 23px 0px 50px 0px;
}
.footer .footer__container .footer__main .footer__signup .signup__input {
  max-width: 320px;
  max-height: 41px;
  border-bottom: 2px solid black;
}
.footer .footer__container .footer__main .footer__signup .signup__input input {
  font-size: 18px;
  width: 100%;
  height: 100%;
}
.footer .footer__container .footer__main .footer__signup .signup__input input:focus {
  outline: none;
}
.footer .footer__container .footer__main .footer__signup button {
  margin-top: 20px;
  width: 75px;
  height: 40px;
  border-radius: 55px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer .footer__container .footer__main .footer__signup button:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.footer .footer__container .footer__main .footer__signup button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer .footer__container .footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  height: 23px;
  margin: 80px 0px 20px 0px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  letter-spacing: 0.8px;
}

@media (min-width: 1025px) {
  .footer__copyright {
    gap: 40px;
  }
}
@media (max-width: 1024px) {
  .footer__copyright {
    gap: 20px;
  }
}