.banner__1 {
    background-image: url("../img/header/Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;  
    color: white;    
    height: 504px;    
    width: calc(100vw - 50px);    
    .banner__text {   
        display: flex;
        flex-direction: column;
        text-align: center;    
        justify-content: center;
        height: 100%;
        & > h2 {
            font-size: 43px;
            font-weight: 400;
            line-height: 46px;
        }
        & > h3 {
            padding: 12px 0px 28px 0px;
            font-size: 15px;
            font-weight: 400;
            line-height: 17.58px;
            letter-spacing: 0.8px;
        }
        & > p {
            font-size: 13px;
            font-weight: 400;
            line-height: 15.23px;
            letter-spacing: 1.4px;    
        }
    }
}