.footer {
    margin: 40px 20px 0px 20px;    
    background-color: rgba(249, 249, 249, 1);
    .footer__container {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        max-width: 1340px;              
        .footer__logo {
            display: flex;
            justify-content: flex-end;
            .footer__goup {  
                display: flex; 
                flex-direction: column;
                justify-content: center; 
                align-items: center;
                text-align: center;
                width: 82px;
                height: 82px;
                background: black;
                color: #ffffff;
                font-size: 15px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.8px;
            }
        }
        .footer__main {
            display: flex;
            height: 265px;
            .footer__menu {                
                align-items: center;
                width: 170px;                
                .footer__list {     
                    height: 100%;
                    display: flex;
                    flex-direction: column;  
                    justify-content: space-around;
                    text-align: left;                         
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 24px;                    
                } 
            }
            .footer__signup {
                max-width: 500px;
                padding-left: 12.5px;
                & > h3 {
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: left;
                }
                & > p {                    
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.41px;
                    letter-spacing: 0.8px;
                    text-align: left;
                    color: $site-gray-color;
                }
                .signup__description {
                    max-width: 350px;
                    margin: 23px 0px 50px 0px ;
                }
                .signup__input {
                    max-width: 320px;
                    max-height: 41px;
                    border-bottom: 2px solid black;
                    input {
                        font-size: 18px;
                        width: 100%;
                        height: 100%;
                    }
                    input:focus {
                        outline: none;
                    }
                }
                button {
                    margin-top: 20px;
                    width: 75px;
                    height: 40px;
                    border-radius: 55px;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                }
                button:hover {
                    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                }
                button:active {
                    transform: scale(0.99);                    
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                }
            }
        }
        .footer__copyright {
            display: flex;
            justify-content: flex-end;
            text-align: right;
            height: 23px;
            margin: 80px 0px 20px 0px;
                        
            font-size: 13px;
            font-weight: 400;
            line-height: 15.23px;
            letter-spacing: 0.8px;
        }
    }
}
@media (min-width: 1025px) {
    .footer__copyright {
        gap: 40px;
    }
}
@media (max-width: 1024px) {
    .footer__copyright {
        gap: 20px
    }
}