.products__scroll {
    max-width: 1340px; 
    margin: auto;  
    .products__list {
        display: flex;
        overflow-x: auto;        
        gap: 25px;
        margin-bottom: 50px;
        color: $site-gray-color;
        .product__name {
            text-align: left;
            padding-top: 20px;
            font-size: 13px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.7px;            
        }
        .product__price {
            text-align: left;
            font-size: 12px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.7px;            
        }
        /*.products__list::-webkit-scrollbar{
            display: none;
        }*/
        .products__img {
            width: 310px;
            height: 434px;
            background: rgb(238, 238, 238);
        }
    } 
}
@media (max-width:1440px){
    .products__scroll {
        max-width: 1005px;
    }
}
@media (max-width:1005px){
    .products__scroll {
        max-width: 670px;
    }
}
@media (max-width:700px){
    .products__scroll {
        max-width: 335px;
    }
}