@import "nullstyle.scss";
@import "header.scss";
@import "team.scss";
@import "banner__1.scss";
@import "banner__2.scss";
@import "banner__3.scss";
@import "banner__4.scss";
@import "banner__5.scss";
@import "banner__6.scss";
@import "featured__products.scss";
@import "products__scroll.scss";
@import "footer.scss";


$site-gray-color: rgba(160, 160, 160, 1);


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}