.team {        
    align-items: center;
    text-align: center;
    margin: 42px 20px 120px 20px;
    max-width: 100%;
    .team__intro{
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        align-items: center;
        & > h2 {
            font-size: 34px;
            font-weight: 400;
            line-height: 36px;            
        }
        & > p {            
            margin: 23px 0px 80px 0px;
            max-width: 789px;
            color:$site-gray-color;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.8px;            
        }
    }   
    .team__items {
        margin: 0px 20px;
        display: grid;
        justify-content: space-around;      
        gap: 25px;
        max-width: 1365px;
        & > img {
            display: block;
            margin: auto;
            max-height: 273px;
            max-width: 204px;
        }
    }
    .team__outro {
        & > h2 {
            font-size: 34px;
            font-weight: 400;
            line-height: 36px;  
            margin: 96px 0px 44px 0px;
            padding: 0px 15px;          
        }
        & > p {
            font-size: 13px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 1.4px;
        }
    }
}
@media (min-width: 1441px) {
    .team__items {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 1440px) {
    .team__items {
        grid-template-columns: repeat(8, 1fr);
        overflow: auto;
    }
}
@media (max-width: 1024px) {
    .team {
        margin-bottom: 60px;
    }
    .team__items {
        grid-template-columns: repeat(12, 1fr);
        overflow: auto;
    }
}